spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:project;NON_KEYWORDS=USER
  sql:
    init:
      schema-locations:
      data-locations:
    jpa:
  hibernate:
    ddl-auto: create
  properties:
    hibernate:
      format_sql: true
logging:
  level:
    org:
      springframework:
        jdbc:
          core: TRACE
